.gdb-input {
    $self: &;
    position: relative;
    display: block;
    width: 100%;
    max-width: 400px;
    @extend %my-s;

    &--full {
      max-width: unset;
    }

    &--medium {
      #{$self}__inner {
        height: 50px;
      }
    }

    &--small {
      #{$self}__inner {
        height: 40px;
      }
    }

    &__inner {
      display: flex;
      width: 100%;
      overflow: hidden;
      border: 1px map-get($theme-colors, gray-3) solid;
      border-radius: map-get($border-radius, s);

      &--focus {
        border-color: map-get($theme-colors, green-1);
      }
    }

    &__prefix,
    &__suffix {
      @extend %font-m-default-bold;
      @extend %px-m;

      display: flex;
      flex: 1 0 max-content;
      align-items: center;
      height: 100%;
      color: white;
      background-color: map-get($theme-colors, gray-3);
    }

    &__input-wrapper {
      width: 100%;
      height: 100%;
      background-color: map-get($theme-colors, white);
    }

    &__input {
      @extend %font-m-default-regular;
      @extend %px-l;

      width: 100%;
      height: 100%;
      color: map-get($theme-colors, gray-1);
      border: unset;

      &:focus {
        outline: unset;
      }

      &:disabled {
        color: map-get($theme-colors, gray-1);
        background-color: unset;
      }

      &::placeholder {
        color: map-get($theme-colors, gray-3);
      }
    }

    &__password {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 100%;
      cursor: pointer;
    }

    &__password-icon {
      svg{
        @extend %icon-m;
      }

      color: map-get($theme-colors, gray-3);
    }

    &--password {
      #{$self}__input-wrapper {
        padding-right: 40px;
      }
    }

    &--error {
      #{$self}__inner {
        border-color: map-get($theme-colors, red-1);
      }
    }

    &--disabled {
      #{$self}__input-wrapper {
        background-color: map-get($theme-colors, gray-5);
      }
    }
  }